html {
  overflow-y: hidden;
}

body {
  padding-right: 0px !important;
  font-family: $font-family;
  color: $black-light;
  background-color: $gray;
}

.container-menu {
  display: flex;
  flex-direction: row;
}

.navbar-toggler {
  border: 0px !important;
  outline: 0px !important;
}

.navbar {
  padding: 0.2rem 1rem;
}

.modal.high-modal {
  .modal-dialog {
    max-width: 80% !important;
    @media (max-width: 600px) {
      max-width: 100% !important;
    }
  }
}
.nav-link {
  .badge {
    background-color: $blue;
    margin-left: 10px;
    border-radius: 30px;
  }
}

.menu {
  height: calc(100vh - 71.38px);
  @media (max-width: 767px) {
    display: none;
  }
  background-color: $sidear-color;
  width: 240px;
  position: relative;
  .container-user {
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 15px;
    width: 80%;
    img {
      width: 50px;
      height: 50px;
      border-radius: 100px;
      margin-right: 20px;
      object-fit: cover;
    }
    h2 {
      color: $white;
      font-size: 16px;
      margin-top: 10px;
    }
  }
  .btn-logout {
    color: $white !important;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    box-shadow: none !important;
    border: 0px !important;
    outline: 0px !important;
  }
  ul {
    padding: 0px !important;
    list-style: none;
    li {
      margin-left: 30px;

      &.active-module {
        .label-submodule {
          display: flex;
          align-items: center;
          color: $orange !important;
          background-image: url("../../icons/menu-item-active.svg");
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
      &.active {
        background-image: url("../../icons/menu-item-active.svg");
        background-repeat: no-repeat;
        background-size: cover;
        a {
          color: $orange !important;
          font-family: $font-family-bold;
        }
      }
      a,
      .label-submodule {
        position: relative;
        display: flex;
        align-items: center;
        color: $white !important;
        text-decoration: none !important;
        padding: 6px 15px !important;
        font-family: "Vision Bold";
        .badge {
          background-color: $blue;
          margin-left: 10px;
          border-radius: 30px;
        }
        i {
          position: absolute;
          right: 10px;
        }
      }

      .label-submodule {
        cursor: pointer;
        align-items: initial;
      }
    }
  }
}

.custom-checkbox {
  position: initial !important;
  margin-top: 0 !important;
  margin-left: 0 !important;
}

.container-router {
  padding: 20px;
  width: 100%;
  overflow-y: scroll;
  height: calc(100vh - 71.38px);
  @media (max-width: 767px) {
    padding-top: 70px;
  }
}

.ver-todo {
  color: $blue;
  display: inline-block;
  cursor: pointer;
  margin-top: 0px !important;
}

.btn-profile {
  margin-right: 40px;
}

.fa.danger {
  color: $danger;
}

.fa.success {
  color: $green;
}

.react-viewer {
  position: relative;
  z-index: 9999;
}

.input-file-paperclip {
  display: none;
}

.pointer {
  cursor: pointer;
}

.bg-orange {
  background-color: $orange !important;
  color: white;
  &:hover {
    color: white;
  }
}

.bg-gray-dark {
  background-color: $gray !important;
}

.bg-gray-default {
  background-color: $gray-menu !important;
}

.fluid-vh {
  height: 50vh;
}

.hr-lg {
  border-top: 1px solid rgba(0, 0, 0, 0.3) !important;
  width: 90%;
  margin-top: 0.5rem !important;
  margin-bottom: 1rem !important;
}

.font-smaller {
  font-size: 14px;
}

.font-min {
  &-gray {
    color: $black-light !important;
    font-size: 14px;
  }
}

.rounded-lg,
.rounded {
  border-radius: 0.5rem !important;
}

.rounded-left {
  border-top-left-radius: 0.5rem !important;
  border-bottom-left-radius: 0.5rem !important;
}

.rounded-right {
  border-top-right-radius: 0.5rem !important;
  border-bottom-right-radius: 0.5rem !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.vh100 {
  height: calc(100vh - 111.39px) !important;
}

.shadow-dark {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4) !important;
}

.px-6 {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}

.px-7 {
  padding-left: 6rem !important;
  padding-right: 6rem !important;
}

.bg-black {
  background-color: $sidear-color !important;
}

.bg-gray {
  background-color: $gray !important;
}

.border-none {
  border: 0 !important;

  &:focus {
    box-shadow: none !important;
  }
  background-color: $input;
}

.color-orange {
  color: $orange !important;
}

.input-code {
  &::placeholder {
    color: #495057;
  }
}
