// Variables

$gray: #edeef0;
$blue: #3a7fc2;
$black: #222d32;
$black-light: #606060;
$black-medium: #1b1819;
$white: #fff;
$input: #f1f1f1;
$active: #0d1214;
$danger: #e53935;
$green: #36c658;
$gray-two: #d6d7db;

$gray-menu: #242323;

$secondary: #3c3c3c;
$sidear-color: $gray-menu;

$icons-path: "../../img/icons/";
$orange: #0fc6fb;

$fonts-path: "../../fonts/";

$font-family: "Vision";
$font-family-bold: "Vision Bold";
$font-family-black: "Vision Black";
$font-family-heavy: "Vision Heady";
