// List

// .strong-item-list {
// font-family: 'Roboto Bold';
// }

.list-group-item {
  img {
    margin-right: 15px;
  }
}

.item-stripped {
  &:nth-child(even) {
    background-color: $gray;
  }
}
