// Modal

.modal {
  outline: 0px !important;

  .modal-dialog {
    outline: 0px !important;
  }
  .modal-title {
    // font-family: 'Roboto Bold';
    color: $white;
    font-size: 20px;
  }
  .modal-content {
    background-color: transparent !important;
    border-color: transparent !important;
  }
  .modal-header {
    border-bottom: 0px !important;
    background-color: $blue;

    border-top-right-radius: 2px !important;
    border-top-left-radius: 2px !important;

    button.close {
      outline: 0px !important;
      color: $white !important;
    }
  }

  .modal-body {
    background-color: $white;
    border-bottom-right-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border-top-left-radius: 5px !important;
  }

  &.modal-lg {
    max-width: 100%;
    .modal-dialog {
      max-width: 80% !important;
      @media (max-width: 600px) {
        max-width: 100% !important;
      }
    }
  }

  &.modal-md {
    .modal-dialog {
      max-width: 900px !important;
      @media (max-width: 600px) {
        max-width: 100% !important;
      }
    }
  }
}

.header-orange {
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 1rem;
  background-color: $orange;
}
