.text-orange {
  color: $orange;
}

.text-black {
  color: $black;
}

.text-green {
  color: $green;
}

.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
  overflow: hidden;
}

.min-subtitle {
  font-size: 0.8rem;
}
