table {
  .thead-orange {
    font-family: $font-family-heavy !important;
    font-size: 18px;

    tr > td:last-child {
      width: 1%;
      white-space: nowrap;
    }

    th {
      color: #fff;
      background-color: $orange;
      border-color: transparent !important;
    }

    tr > th.left-border {
      border-top-left-radius: 6px;
    }

    tr > th.right-border {
      border-top-right-radius: 6px;
    }
  }

  &.table-appointment {
    width: 100%;

    thead > tr > td.left-border {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }

    thead > tr > td.right-border {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    tbody > tr > td:last-child {
      width: 1%;
      white-space: nowrap;
    }

    tbody > tr > td {
      font-size: 0.9rem;
    }

    tfoot > tr > td:last-child {
      width: 1%;
      white-space: nowrap;
    }

    &-total {
      background-color: $orange !important;
    }
  }
}

.overflow {
  max-height: 320px;
  overflow-y: auto;
  overflow-x: hidden;
}

.area {
  &-payment {
    height: 400px;
  }
  &-content {
    height: 100%;
  }
  &-total {
    width: 100%;
    text-align: center;
  }
  &-services {
    max-height: 350px;
    overflow: auto;
  }
}

.list-area {
  cursor: pointer;

  &:nth-child(odd) {
    background-color: $gray;
  }
}

.list-appointment {
  background-color: $gray;
  font-weight: 500;

  th,
  td {
    border-top: transparent !important;
  }

  &:nth-child(odd) {
    color: $orange;
    background-color: $white;
    font-weight: 400;
  }
}

.min-width-remove {
  min-width: 25px !important;
}

.line-dark {
  border-bottom: 2px solid $black;
}

.edit-datatime {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 26px;
  width: 25px;
  height: 24px;
  border-radius: 100%;
  background: $orange;
}

.appointment-cost {
  font-family: $font-family-bold;
  font-size: 0.9rem;
}

.pointered {
  cursor: pointer;
}

.back-timeline {
  position: absolute;
  left: 50px;
}
