.form-control-slg {
  height: 4rem !important;
  font-size: 3rem !important;
  border-radius: 6px !important;
}

.form-control-slg-2 {
  height: 3rem !important;
  font-size: 3rem !important;
  border-radius: 6px !important;
  font-size: 2.5rem !important;
}

.form-control-slg-3 {
  height: 3rem !important;
  border-radius: 6px !important;
  font-size: 1.5rem !important;
}

.line {
  border-bottom: 2px solid $gray;
}

.title-table {
  font-size: 1.2rem !important;
  color: $orange;
}

.w-table {
  width: 130px;
}

table.table-reception {
  tbody > tr > td:last-child {
    width: 1%;
    white-space: nowrap;
  }

  tfoot > tr > td:last-child {
    width: 1%;
    white-space: nowrap;
  }

  &-total {
    background-color: $orange !important;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
