// Register

.register-wrapper {
  &-left {
    position: absolute;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    background-image: url("../../img/register-left.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media (min-width: 576px) {
    &-left {
      background-size: contain;
    }
  }
}

.register-background {
  width: 100vw;
  height: 100vh;
  background: #f2692a;

  &-footer {
    z-index: 98;
    position: absolute;
    width: 100vw;
    height: 50vh;
    bottom: 0;
    background-image: url("../../img/auth-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}
