<!DOCTYPE html> 
<html lang="en">
<head>
	<meta charset ="UTF-8">
	<meta name="viewport" content="width=device-
	<meta http-equiv="X-UA-Compatible" content="ie=edg">
	<title> Notes App</title>
</head>
<body>

	<p> navigation </p>
	
	{{{body}}}

	<p> Footer</p>
	
</body>
</html>